<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{login-layout :: head}"></head>
<body class="authentication-body">
<div class="authentication-wrapper">
    <header th:replace="~{login-layout :: header}"></header>
    <main>
        <h1>Customer Sign Up</h1>
        <form method="post" th:attr="action=@{/account/register}" th:object="${account}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="field-validation-error" th:errors="${account}"></div>

            <input type="text" th:field="*{username}" placeholder="Username" autocomplete="off">
            <div class="field-validation-error" th:errors="*{username}"></div>

            <input type="password" th:field="*{password}" placeholder="Password">
            <div class="field-validation-error" th:errors="*{password}"></div>

            <input type="password" th:field="*{passwordConfirmation}" placeholder="Password Confirmation">
            <div class="field-validation-error" th:errors="*{passwordConfirmation}"></div>

            <button type="submit">Sign up</button>
        </form>
        <div class="link-container">
            <a th:href="@{/account/loginPage}"> Back to Login </a>
        </div>

    </main>
</div>

<th:block th:replace="~{layout :: javascript}"></th:block>

</body>
</html>