<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
<main>
    <center>
        <h1>
            <br><br><br> ***   PENJUALAN  *** <br>
            <br> =================================
        </h1>
        <h2>
            <br><br> Selamat datang di aplikasi penjualan.
        </h2>
    </center>
</main>

<!-- Inject layout html dgn fragment footer    -->
<footer th:replace="~{layout :: footer}"></footer>

<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>